<div class="container">
  <div class="contenedor-header"><p>ALGO SALIO MAL, INTENTA NUEVAMENTE</p></div>
  <div class="contenedor-imagenes">
    <div class="numero1"> <img class="img" src="https://res.cloudinary.com/superlikers/image/upload/v1754612000/layer4_ozaftq.png"> </div>
    
    <div class="tierra">
    <div class="cohete"> 
      <img class="img" src="https://res.cloudinary.com/superlikers/image/upload/v1754611999/layerrocket_zetjie.png">  
    </div>
    <div class="planeta">
       <img class="img" src="https://res.cloudinary.com/superlikers/image/upload/v1754612000/layerEarth_azzhpt.png"> 
    </div>
  </div><!---tierraaa fin-->

    <div class="numero2"> <img class="img" src="https://res.cloudinary.com/superlikers/image/upload/v1754612000/layer4_ozaftq.png">      </div>
  </div>
</div>