@if(isModalOpen()){
<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-lg shadow-lg max-w-sm w-full p-6 text-center">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">Ocurrió un error</h2>
    <p class="text-gray-600 mb-6">
      Algo salió mal. Por favor, inténtalo nuevamente.
    </p>
    <button
      class="cursor-pointer bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500 transition"
      (click)="cerrarModal()"
    >
      Aceptar
    </button>
  </div>
</div>
}
